<footer class="row">
    <div class="col ">
        <div class="row">
            <div class="col">
                <div class="col"><img src="../../../assets/img/6.jpg"> </div>
            </div>
            <div class="col">
                <small>Universidad Nacional De Cajamarca</small><br>
                <small>Facultad De Ingenieria</small><br>
                <small>Escuela De Ingenieria De Sistemas</small><br>
            </div>
        </div>
    </div>
    <div class="col text-right">
        <small>Gyno Romero Prado</small><br>
        <small>:D</small><br>
        <small>Cel:977978703</small><br>
    </div>
</footer>