<ul class="list-group">
    <li class="list-group-item">Nombre:Gyno Romero Prado</li>
    <li class="list-group-item">Email:
        <a>gromerop15@unc.edu.pe</a>
    </li>
    <li class="list-group-item">Dirección:Luz divina 277</li>
    <li class="list-group-item">Teléfono:977978703</li>

</ul>
<div class="social">
    <ul>
        <button class="btn ">
            <a href="https://www.facebook.com/gynopaolo.romeroprado" target="_blank" class="icon-facebook"><i class="fab fa-facebook-square"></i></a>
        </button>
        <button class="btn ">
            <a href="http://www.twitter.com/" target="_blank" class="icon-twitter"><i class="fab fa-twitter"></i></a>
        </button>
        <button class="btn ">
            <a href="http://www.googleplus.com/" target="_blank" class="icon-googleplus"><i class="fab fa-google-plus" style="color: brown;"></i></a>
        </button>
        <button class="btn ">
            <a href="http://www.pinterest.com/" target="_blank" class="icon-pinterest"><i class="fab fa-pinterest-square" style="color: red;"></i></a>
        </button>
        <button class="btn ">
            <a href="mailto:gynoromeroprado@gmail.com" class="icon-mail"><i class="fas fa-mail-bulk" style="color: saddlebrown;"></i></a>
        </button>
    </ul>
</div>