<div class="countries">
    <table class="table">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Abreviación</th>
                <th scope="col">Codigo</th>
                <th scope="col">Capital</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of dataCountries">
                <th>{{post.name}}</th>
                <td>{{post.alpha2Code}}</td>
                <td>{{post.callingCodes}}</td>
                <td>{{post.capital}}</td>
            </tr>
        </tbody>
    </table>
</div>