<div class="post">
    <table class="table">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of dataPost">
                <th>{{post.id}}</th>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
            </tr>
        </tbody>
    </table>
</div>